# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.ipynb_checkpoints/
__pycache__/
pycache/*
__pycache__/*
venv/
*.pkl
inspect_pkl.py
*.svg
*.pyc
tmp/
TODO
req.txt
instalar_dep.txt
prototipo.ipynb
*.ipynb
*.lss
package-lock.json